@import url('@cscfi/csc-ui/css/theme.css');

:root {
  --site-header-height: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::marker {
  color: var(--c-tertiary-700);
}

body {
  margin: 0;
}

html,
body {
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    museo-sans,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.5;
  margin-bottom: 22px;
}

h1, h2, h3, p {
  color: var(--c-tertiary-800);
}

a, c-link {
  --c-link-color: var(--c-info-700);
  color: var(--c-link-color);

  text-decoration: none;
  transition: 0.4s;

  /* A hack to make the gap between a c-link and its trailing
     icon smaller, since --_c-link-icon-gap is not exposed */
  c-icon.tab-icon {
    transform: translateX(-30%);
    margin-right: -.25em;
  }
}

@media (hover: hover) {
  a:hover, c-link:hover {
    --c-link-hover: var(--c-info-200);
    background-color: var(--c-link-hover);
  }
}

c-alert {
  background-color: var(--c-white);
  border-radius: .5em;
}

c-list {
  --c-list-item-text-color: var(--c-tertiary-800);
  --c-list-item-title-color: var(--c-tertiary-900);

  c-list-item-title {
    font-weight: bold;
  }
}


.v-tooltip {
  position: absolute;
  background: var(--c-info-900);
  color: var(--c-primary-100);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}