@import url('@cscfi/csc-ui/css/theme.css');

:root {
  --site-header-height: 60px;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--c-info-600);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--c-info-200);
  }
}
