@import url('@cscfi/csc-ui/css/theme.css');

:root {
  --site-header-height: 60px;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--c-info-600);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--c-info-200);
  }
}

.v-tooltip {
  position: absolute;
  background: var(--c-info-900);
  color: var(--c-primary-100);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease;
  z-index: 9999;
}